<?xml version="1.0"?>
<configuration>

	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="Server.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="Server.Properties.Settings.AstrodonConnectionString"
		  connectionString="Data Source=SERVER2\SQLEXPRESS;Initial Catalog=Astrodon;Persist Security Info=True;User ID=sa;Password=sa"
		  providerName="System.Data.SqlClient" />
		<add name="Server.Properties.Settings.AstrodonConnectionString1"
		  connectionString="Data Source=STEPHEN-PC\MTDNDSQL;Initial Catalog=Astrodon;Persist Security Info=True;User ID=sa;Password=m3t@p@$$"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<userSettings>
		<Server.Properties.Settings>
			<setting name="MailHost" serializeAs="String">
				<value>10.0.1.1</value>
			</setting>
			<setting name="SendReceive" serializeAs="String">
				<value>60000</value>
			</setting>
			<setting name="CheckSMS" serializeAs="String">
				<value>600000</value>
			</setting>
			<setting name="MailPort" serializeAs="String">
				<value>110</value>
			</setting>
			<setting name="popSSL" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="smtpSSL" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="smtpPort" serializeAs="String">
				<value>25</value>
			</setting>
			<setting name="baseDataPath" serializeAs="String">
				<value>C:\Pastel11\</value>
			</setting>
			<setting name="watchDirectory" serializeAs="String">
				<value>C:\Inetpub\FileImports\</value>
			</setting>
			<setting name="licensee" serializeAs="String">
				<value>DK11110068</value>
			</setting>
			<setting name="authCode" serializeAs="String">
				<value>4228113</value>
			</setting>
			<setting name="importPath" serializeAs="String">
				<value>C:\Inetpub\FileImports\</value>
			</setting>
			<setting name="rentPath" serializeAs="String">
				<value>PROREN14</value>
			</setting>
			<setting name="trustPath" serializeAs="String">
				<value>TRUST14</value>
			</setting>
			<setting name="astrodonPath" serializeAs="String">
				<value>ASTROD14</value>
			</setting>
			<setting name="MailUser" serializeAs="String">
				<value>noreply@astrodon.co.za</value>
			</setting>
			<setting name="MailPassword" serializeAs="String">
				<value>stephen01</value>
			</setting>
			<setting name="MailAddress" serializeAs="String">
				<value>stephen@metathought.co.za</value>
			</setting>
			<setting name="SMSUser" serializeAs="String">
				<value>astrodon_sms</value>
			</setting>
			<setting name="SMSPassword" serializeAs="String">
				<value>[sms@66r94e!@#]</value>
			</setting>
			<setting name="statementrunning" serializeAs="String">
				<value>False</value>
			</setting>
		</Server.Properties.Settings>
		<Server.Settings>
			<setting name="MailHost" serializeAs="String">
				<value>10.0.1.1</value>
			</setting>
			<setting name="MailUser" serializeAs="String">
				<value>sms@astrodon.co.za</value>
			</setting>
			<setting name="MailPassword" serializeAs="String">
				<value>[sms@66r94e!@#]</value>
			</setting>
			<setting name="SendReceive" serializeAs="String">
				<value>60000</value>
			</setting>
		</Server.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<applicationSettings>
		<Server.Properties.Settings>
			<setting name="Server_StatusChecker_SMSService" serializeAs="String">
				<value>http://www.metathought.co.za/smsservice.asmx</value>
			</setting>
		</Server.Properties.Settings>
	</applicationSettings>
</configuration>